
.btn-primary {
    margin-top: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.btn-secondary {
    margin-bottom: 20px;

}

.burger-name {
    font-size: 30px;
    font-family: monospace;
}